@media print {
    aside, header, .page-nav{
        display: none !important;
    }

    body {
        font-size: 13px !important;
    }

    .footnotes {
        font-size: 7px !important;
    }
}
.navbar .home-link .site-name {
    color: #f26b1f;
}

.page .custom-block.tip {
    border-color: #f26b1f;
}

.theme-container .page .content .logo-img {
    margin-top: 3.6rem;
}

.page .content .logo-text {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

a {
    word-break: break-all; 
}

.even {
    display: flex;
    justify-content: space-between;
}

.even > p {
    margin: 5px;
}

.center {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.contains-task-list .task-list-item {
    list-style-type: none;
}

.footnote-ref > a { 
    padding-top: 7rem;
    margin-top: -7rem;
}

.footnotes {
    font-size: 12px;
}

.footnote-item > p {
    line-height: 1.5;
}