.navbar .home-link .site-name {
    color: #482936;
}

.page .custom-block.tip {
    border-color: #2d0c13;
}

.theme-container .page .content .logo-img {
    margin-top: 3.6rem;
}

.page .content .logo-text {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

#关于 {
    display: none;
}

#app .global-ui .sw-update-popup {
    border: 1px solid #F5712C;
}
