@media print {
    aside, header, .page-nav{
        display: none !important;
    }

    body {
        font-size: 12px !important;
    }

    h1,h2,h3 {
        font-size: 15px !important;
    }

    .footnotes {
        font-size: 7px !important;
    }
}
.navbar .home-link .site-name {
    color: #2d0c13;
}

.page {
    .custom-block.tip {
        border-color: #2d0c13;
    }

    .content .logo-text {
        padding-top: 2.6rem;
        padding-bottom: 2rem;
    }
}

.theme-container .page .content .logo-img {
    margin-top: 3.6rem;
}

.sidebar-group {
    margin-bottom: 0 !important;

    .sidebar-heading {
        text-transform: none;
        font-size: 1.2em !important;

        .arrow.down {
            border-top: 6px solid $badgeErrorColor;
        }

        .arrow.right {
            border-left: 6px solid $badgeErrorColor;
        }
    }

    .is-sub-group > .sidebar-heading:not(.clickable) {
        padding-left: 1rem !important;
        text-transform: none;
        opacity: 1 !important;
        font-size: 1em !important;
    }
}

a {
    word-break: break-all; 
}

.even {
    display: flex;
    justify-content: space-between;
}

.even > p {
    width: 48%;
    margin: 1%;
}

.center {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.contains-task-list .task-list-item {
    list-style-type: none;
}

.footnote-ref > a { 
    padding-top: 7rem;
    margin-top: -7rem;
}

.footnotes {
    font-size: 12px;
}

.footnote-item > p {
    line-height: 1.5;
}